@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home-and-piano {
  max-width: 768px;
  min-width: 300px;
  background: url(../images/bg.jpg);
  background-size: cover;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.trophy-items {
  display: block;
  width: 100%;
  display: none;
}

.trophy-items div {
  display: inline-block;
  width: 30%;
}

.trophy-items img {
  width: 100%;
  height: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.trophy-items span {
  background-color: white;
  height: 35px;
  padding-top: 10px;
  display: block;
  margin-top: -5px;
  color: #2d76e7;
  font-size: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.admin-panel-items {
  width: 97%;
  height: 300px;
  background: url(../images/purplebg.jpg);
  background-size: cover;
  margin: auto;
  border-radius: 10px;
  display: none;
  margin-top: 10px;
}

.settings {
  display: none;
}

.settings span {
  position: absolute;
  top: 10px;
  color: #2d76e7;
  left: 60px;
}

.sounds img {
  margin-left: 10px;
  margin-top: 5px;
}

.controls,
.sounds {
  margin: auto;
  width: 97%;
  height: 50px;
  margin-top: 40px;
  background: white;
  border-radius: 10px;
  text-align: left;
  position: relative;
}

.controls-warper {
  display: inline-block;
  width: 30%;
}

.btn-warper {
  display: inline-block;
  width: 67%;
  position: absolute;
  top: 10px;
  color: #2d76e7;
  text-align: right;
}

input[type="radio"] {
  border: 0px;
  width: 30px;
  height: 15px;
}

.dollar-diamond {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 2;
  display: block;
  color: white;
}

.dollar-diamond img {
  margin-right: 10px;
}

.dollar-diamond span {
  margin-right: 25px;
}

.coin-container {
  height: 40px;
  background-color: black;
  opacity: 0.1;
}

.btn-container {
  padding: 5%;
  display: block;
  justify-content: center;
  text-align: center;
}

.btn-left {
  margin: 0%;
  width: 20%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background: transparent;
  height: 30px;
  border: 0px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.btn-left:active,
.btn-left:hover {
  background: white;
}

.btn-right {
  margin: 0%;
  width: 20%;
  height: 30px;
  border-left: 0px;
  background: transparent;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.btn-right:active,
.btn-right:hover {
  background: white;
}

.sw-img-container {
  display: inline-block;
  padding: 20px;
  background: url(../images/swbg.png);
  border-radius: 50%;
  border: 3px solid white;
  margin-top: -65px;
  z-index: 2;
}

.info-container {
  height: 200px;
  background: black;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 95px;
  position: relative;
  background: linear-gradient(to top right, #b45aff, #802eff);
}

#corwn-id {
  position: absolute;
  top: 20px;
  right: 50px;
}

.info {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.music-container {
  background: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 35px;
  text-align: left;
}

.music-container img[alt~="child"] {
  border-radius: 20px;
  float: left;
  width: 20%;
  height: 112px;
}

.music-info {
  padding-top: 10px;
  float: left;
  padding-right: 3%;
  width: 80%;
}

.music-info span {
  color: #469bba;
}

.fav-btn {
  width: 35px;
  height: 30px;
  border: 0px;
  background: url(../images/heart-grey.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
}

.fav-btn:hover {
  background: url(../images/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: block;
  clear: both;
}

.play-btn {
  width: 70px;
  height: 30px;
  border: 2px solid #5bb7e8;
  background: url(../images/play-blue.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  border-radius: 20px;
  cursor: pointer;
}

.play-btn:hover,
.play-btn:active {
  background-image: url(../images/play.png);
  background-color: #2d76e7;
}

.music-info-bottom {
  float: left;
  display: block;
  width: 80%;
  margin-top: 3%;
  padding-right: 3%;
}

.bottom-nav {
  width: 100%;
  max-width: 768px;
  position: fixed;
  bottom: 0px;
  background: linear-gradient(to top right, #b45aff, #802eff);
}

.btn {
  width: 33.3%;
  float: left;
}

.btn:hover {
  background-color: white;
}

.btn button {
  border-radius: 50%;
  padding: 10px;
  background-color: #2d76e7;
  border: 1px solid white;
  margin-top: -50px;
  margin-bottom: 10px;
  cursor: pointer;
}

#trophy {
  background: #fb6705;
}

#piano-id {
  display: none;
}

.gap {
  height: 80px;
}

.v-line {
  width: 2px;
  height: 100%;
  position: absolute;
  z-index: 3;
  background: white;
}

#line-id-first {
  left: 25%;
}
#line-id-second {
  left: 50%;
}
#line-id-third {
  left: 75%;
}

.score-bord {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 4;
  display: none;
  background: url(../images/summarybg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.summary {
  margin: auto;
  margin-top: 30px;
  width: 90%;
  height: 320px;
  border-radius: 10px;
  background: url(../images/purplebg.jpg);
  background-size: cover;
}

.summary-btns {
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.summary-btns button {
  background: transparent;
  border: 0px;
  margin: 7%;
}

.summary-btns :nth-child(2) {
  margin-top: 10px;
}

.star-rate {
  margin-top: 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../images/star-grey.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.song-name {
  color: white;
  margin-top: 10px;
}

.song-score {
  font-size: 56px;
  margin-top: 20px;
  color: white;
}

.got_gift {
  height: 25%;
  width: 100%;
  position: relative;
  margin-top: 60px;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#display-score-id {
  font-size: 48px;
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 48%;
}

.display-coin {
  z-index: 5;
  position: absolute;
  top: 10px;
  left: 5%;
}

.display-collected-coin {
  position: absolute;
  top: 5px;
  left: 40px;
}

.display-diamond {
  z-index: 5;
  position: absolute;
  top: 10px;
  left: 80%;
}

.display-collected-diamond {
  position: absolute;
  top: 5px;
  left: 40px;
}
